<section class="email-verify">
	<div class="container">
		<div class="row">
			<div class="content verify" *ngIf="mode == 'verifyEmail'">
				<h3 class="title">{{ 'verifyEmail' | translate }}</h3>
				<ng-container *ngIf="errorVerify != null">
					<p><span class="icon-failed"></span></p>
					<p>{{errorVerify}}</p>
				</ng-container>
				<ng-container *ngIf="successVerify != null">
					<p><span class="icon-success"></span></p>
					<p>{{successVerify}}<p>
				</ng-container>
			</div>
			<div class="content" *ngIf="mode == 'resetPassword'">
				<form class="resetpassword-form" action="#" method="post" novalidate="novalidate" autocomplete="off" #resetForm="ngForm">
					<div class="form-title">
						<h2>{{ 'resetpassword' | translate }}</h2>
					</div>
					<!-- Password -->
                      <p *ngIf="newpasswordControl.errors && newpasswordControl.errors.required && newpasswordControl.touched" class="help-block error-msg">
                        {{'new_password_required' | translate}}
                      </p>
                      <!-- Password -->
                      <p *ngIf="confirmpasswordControl.errors && confirmpasswordControl.errors.required && confirmpasswordControl.touched" class="help-block error-msg">
                        {{'confirm_password_required' | translate}}
                      </p>
                      <p *ngIf="confirmpasswordControl.touched && !confirmed" class="help-block error-msg">
                        {{'confirm_password_invalid' | translate}}
                      </p>
					
					<div *ngIf="error != null" class="alert alert-danger alert-dismissable">
		                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		                {{error}}
		          	</div>
					<div *ngIf="messageSuccess != null" class="alert alert-success alert-dismissable">
		                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		                {{messageSuccess}}
		          	</div>

					<div class="form-group form-md-floating-label">
						<input class="form-control {{newpassword && newpassword.length > 0 ? 'edited':''}}" id="newpassword" [(ngModel)]="newpassword" type="password" autocomplete="off" name="newpassword" #newpasswordControl="ngModel" (keyup)="confirmPassType($event)" required>
                      	<label for="newpassword"> {{'new_password' | translate}}</label>
					</div>
					<div class="form-group form-md-floating-label">
						<input class="form-control {{confirmpassword && confirmpassword.length > 0 ? 'edited':''}}" id="confirmpassword" [(ngModel)]="confirmpassword" type="password" autocomplete="off" name="confirmpassword" #confirmpasswordControl="ngModel" (keyup)="confirmPassType($event)" required>
                      	<label for="confirmpassword">{{'confirm_password' | translate}}</label>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-submit" (click)="resetpass()" [disabled]="(!resetForm.valid)" >{{ 'resetBtn' | translate }}</button>
					</div>			
				</form>
			</div>
		</div>
	</div>
</section>
<div class="loading" *ngIf="isLoading">
	<div id='img-loading' class='uil-spin-css' style="-webkit-transform:scale(0.4)"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
</div>