.managegift-section{
  background: #f3f3f6;
}
.managegift-section .parent{
  position: relative;
}
.managegift-section .parent .left{
  background: #fff;
  margin-top: 4px;
  /*margin-bottom: 4px;*/
}
.managegift-section .parent .left .box-content{
  overflow: hidden;
}
.managegift-section .parent .left a:hover{
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: left;
  color: #ff4545;
}
.managegift-section .parent .right .wrap_gift{
  padding-left: 15px;
  padding-bottom: 50px;
}
.managegift-section .parent .right .box_top{
  padding-top: 30px;
  padding-bottom: 30px;
}
.managegift-section .parent .right .box_top .title:after{
  content:'';
  display: block;
  clear: both;
}
.managegift-section .parent .right .box_top h2{
  font-family: Gotham Rounded;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #303030;
  float: left;
}
.managegift-section .parent .right .box_top .total_voucher{
  float: right;
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: right;
  color: #636363;
  margin-bottom: 0;
  padding-top: 20px;
}
.managegift-section .left-fixed-wrap{
  content: '';
  position: absolute;
  background: #fff;
  display: inline-block;
  border-bottom: 0;
  height: 100%;
  top: 0px;
  right: 100%;
  width: 100px;
  /*border-bottom: 4px solid #e3e3e3;*/
  border-top: 4px solid #e3e3e3;
  clear: none;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex-grow: 1;
    /*flex-basis: 50%;*/
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 16px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #ff4545;
  position: absolute;
  top: 5px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}



[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 15px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  
}
[type="checkbox"]:checked + label:before{
  background: #ff4545;
  border: 1px solid #ff4545;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\e91f';
  font-family: 'icomoon' !important;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 0px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 16px;
  height: 16px;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.left .box-content h3{
  margin-bottom: 30px;
  font-family: Gotham Rounded;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #303030;
}
.left .box-content p{
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: left;
  color: #636363;
}
.gift_list{
  
}
.gift_item{
  padding: 15px 15px 15px 30px;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  overflow: hidden;
  position: relative;
  min-height: 160px;
  margin-bottom: 30px;
}
.gift_item .gift_img{
  width: 120px;
  float: left;
  position: absolute;
  left: 30px;
  top: 50%;
  transform:translateY(-50%);
  /*opacity: 0.5;*/
  border-radius: 6px;
  border:1px solid #e3e3e3;
}
.gift_item.status_3 .gift_img{
  opacity: 1;
}
.gift_item .gift_img img{
  width: 100%;
  min-height: 118px;
}
.gift_item .gift_img .vc_state{
  position: absolute;
  right: 5px;
  top: 5px;
  font-family: Gotham Rounded;
  font-size: 9px;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  padding: 0px 10px;
  line-height: 16px;
  height: 20px;
  display: inline-block;
  text-transform: capitalize;
  color: #fff;
  min-width: 60px;
}
.gift_item .gift_img .vc_state.not_sent{
  background: #4A4A4A;
}
.gift_item .gift_img .vc_state.opened{
  background: #4DBFEE;
}
.gift_item .gift_img .vc_state.used{
  background:  #57CE26;
}
.gift_item .gift_img .vc_state.sent{
  background: #FFD132;
}
.gift_item .gift_img .vc_state.expired{
  background: #FF585A;
}
.gift_item .gift_info{
  display: block;
  padding-left: 150px;
}
.gift_item .gift_info .product_name{
  display: block;
  clear: both;
  overflow: hidden;
}
.gift_item .gift_info .product_name h3{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #303030;
  float: left;
}
.gift_item .gift_info .product_name h3 span{
  font-family: Gotham Rounded;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  background-color: #ff5f5f;
  line-height: 20px;
  height: 20px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  bottom: 5px;
}
.gift_item .gift_info .product_name p.redeemed_location{
  float: right;
  text-align: right;
  font-family: Gotham Rounded;
  font-size: 14px;
  text-align: right;
  color: #636363;
  margin-bottom: 0;
  padding-top: 5px;
}
.gift_item .gift_info .content{
  display: block;
  /*overflow: hidden;*/

}
.gift_item .gift_info .content p{
  width: 35%;
  float: left;
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #171717;
  margin-bottom: 0px !important;
}
.gift_item .gift_info .content p.status{
  width: 35%;
  font-size: 0;
  padding-right: 10px;
}

.gift_item .gift_info .content p.expiry_date{
  width: 30%;
  font-size: 0;
}
.gift_item .gift_info .content p.status label:first-child{
 clear:none !important;
 float: left !important;
}
.gift_item .gift_info .content p.status label.receiver_em_sms{
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 500;
  overflow: hidden;
}
.gift_item .gift_info .content p.status label.receiver_em_sms:hover{
  overflow: visible;
}
.gift_item .gift_info .content p.status label{
  font-weight: normal;
}

/*.gift_item .gift_info .content p.status label small{
  font-weight: normal;
}*/


.gift_item .gift_info .content p.received_date b{
  font-weight: 500;
  white-space: nowrap;
}

.gift_item .gift_info .content p label{
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: left;
  color: #636363;
  /*text-transform: uppercase;*/
  font-weight: normal;
  display: block;
  clear: both;
}
.gift_item:hover{
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.gift_item:hover .gift_info .list_guide_link{
  display: block;
}
.gift_item .gift_info .list_guide_link{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 0;
  overflow: hidden;
  display: none;
}
.gift_item .gift_info .list_guide_link li a,.gift_item .gift_info .list_guide_link li a:hover{
  font-family: Gotham Rounded;
  font-size: 14px;
  text-align: left;
  color: #ff4545;
  float: left;
  padding-right: 30px;
}

.gift_item .gift_info .content p.status span{
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #303030;
  /*border: 1px solid #000;*/
  border-radius: 6px;
  /*padding: 0px 5px; */
  line-height: 16px;
  height: 20px;
  display: inline-block;
  /*width: 82px;*/
  margin-bottom: 5px;
  text-transform: capitalize;
}

.gift_item .gift_info .content p.status span small{
  text-transform: capitalize !important;
  font-weight: normal !important;
}

 /* code 18/1 6 ô  */
 .gift_item  .gift_info .content p.status span{
  margin-top: 2px;
 }
.gift_item  .gift_info .content p.status span.not_sent{
  /*background: #ffdede ;*/
  /*border-color: #ff2c2c ;*/
  color: #ff2c2c ;
}

.gift_item  .gift_info .content p.status span.email{
  /*background: #ffe9e0 ;*/
  /*border-color: #ff6120 ;*/
  /*color: #ff6120  ;*/
}

.gift_item  .gift_info .content p.status span.messenger{
  /*background:  #e0f0ff ;*/
  /*border-color: #0080f7 ;*/
  /*color: #0080f7  ;*/
}
.gift_item  .gift_info .content p.status span.sms{
  /*background:  #daffe6 ;*/
  /*border-color: #02d846 ;*/
  /*color: #02d846  ;*/
  text-transform: uppercase;
}
.gift_item  .gift_info .content p.status span.whatsapp{
  /*background:  #e2ffef ;*/
  /*border-color: #01bb53 ;*/
  /*color: #01bb53  ;*/
}
.gift_item  .gift_info .content p.status span.viber{
  /*background:  #f5e2ff ;*/
  /*border-color: #80529a ;*/
  /*color: #80529a  ;*/
}
.gift_item  .gift_info .content p.status span.facebook{
  /*background:  #eaf3ff ;*/
  /*border-color: #295b99 ;*/
  /*color: #295b99  ;*/
}


/*end */


/*ds 18/1 */
.gift_item .gift_info .content p.expiry_date label{
  font-size: 16px;
  color:#4080FF;
  padding-left: 30px;
  position: relative;
  line-height: 24px;
  margin-bottom: 0px;
  text-transform: capitalize;
}
.gift_item .gift_info .content p.expiry_date label.purchase-label{
  margin-top: 2px;
}

.gift_item .gift_info .content p.expiry_date img{
  width: 24px;
  height: 24px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
  margin-top: 2px;
}
.gift_item .gift_info .content p.expiry_date label a{
   color: #4080FF;
}
.gift_item .gift_info .content p.expiry_date label:hover a{
  color: #4080FF;
  text-decoration: underline;
}
.gift_item .show_voucher{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  width: 24px;
  height: 24px;
  right: 30px;
  /*border: 1px solid;*/
}
.gift_item .show_voucher:before{
  content: "\e907";          
  font-family: 'icomoon' !important;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  line-height: 22px;
  color: #636363;
}
.gift_item:hover .show_voucher:before{
  color: #ff4545;
}
.load_more_btn,.load_more_btn:hover,.load_more_btn:active,.load_more_btn:focus{
  width: 166px;
  height: 46px;
  line-height: 46px;
  border-radius: 12px;
  background-color: #ff5f5f;
  display: block;
  text-align: center;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.filter_mobile{
  display: none;
}
.filter_box{
  padding: 0;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  position: relative;
  margin-top: 30px;
  display: block;
  clear: both;
}
.filter_box:after{
  content: '';
  clear: both;
  display: block;
}
.filter_box .filter_left,
.filter_box .filter_right{
  width: 50%;
  float: left;
  display: inline-block;
  font-size: 0;
  position: relative;
  padding: 20px 30px 20px;
}
.filter_box .filter_left p,.filter_box .filter_left label,
.filter_box .filter_right p,.filter_box .filter_right label{
  margin-bottom: 0;
}
/*desgin gift sent 17/1 */
 /*.filter_box  .filter_left::after {
  content : "";
  position: absolute;
  height: 32px;
  width: 1px;
  top: 50%;
  right: 0;
  margin-top: -16px;
  display: inline-block;
  background-color: #dfe0e3;
}*/



/* end */
.filter_box .filter_left label,.filter_box .filter_right label{
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #636363;
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 50px;
}
.filter_box .filter_left p,.filter_box .filter_right p{
  display: inline-block;
}
.filter_box .filter_left p label,.filter_box .filter_right p label{
  margin-right: 50px;
  font-size: 15px;
  text-transform: capitalize;

}
.filter_box .filter_left p:last-child label,.filter_box .filter_right p:last-child label{
  margin-right: 0px;
}
.title_mb, .filter_selected_mb{
  display: none;
}
/*sstyle select*/

#notificationModal{
 text-align: center;
}
#notificationModal:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
#notificationModal .modal-dialog{
 display: inline-block;
 text-align: center;
 vertical-align: middle;
 text-align: left;
 /*max-width: 300px;*/
 /*top: 50%;
    transform: translateY(-50%);*/
}

@media (max-width: 480px) {
  .title_mb, .filter_selected_mb{
    display: block;
  }
  p.title_mb{
    font-size: 12px;
    color: #999999;
    clear: both;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
  }
  p.title_mb:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4a4a4a transparent;
  }

  .filter_selected_mb span{
    border-radius: 6px;
    height: 30px;
    background-color: #eef1f8;
    font-family: Gotham Rounded;
    font-size: 12px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    display: inline-block;
    padding: 0 20px 0 5px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 5px;
    text-transform: capitalize;
}

  .filter_selected_mb span:after {
    content: '\E901';
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
    font-size: 7px;
    font-family: 'icomoon' !important;
    line-height: 1;
}
/*.filter_selected_mb span.sortby:after{
  display: none;
}*/
.filter_box{
    display: block;
    clear: both;
    border: 1px solid;
    border-radius: 12px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    background: #fff;
    font-size: 0;
}
  .filter_box .filter_left,
  .filter_box .filter_right{
    width: 100%;
    padding: 0 0 10px 0;
  }
  .filter_box .filter_left:after{
    display: none;
  }
  .filter_box .filter_right{
    padding-bottom: 0;
  }
  .filter_box .filter_left label,
  .filter_box .filter_right label{
    margin-bottom: 10px;
  }
  .filter_box .filter_left p,
  .filter_box .filter_right p{
    margin-bottom: 0px;
  }
  .filter_box .filter_left p,.filter_box .filter_right p{
    display: block;
  }
  .filter_group{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
    top: 100%;
    margin-top: 5px;
    padding: 15px 15px 5px;
    background: #fff;
    border-radius: 8px;
    border: solid 1px #e3e3e3;
  }
  .filter_box.active .filter_group{
      opacity: 1;
      z-index: 1;
      pointer-events: auto;
  }

  .managegift-section .parent .left{
    display: none;
  }
  .managegift-section .parent .right .wrap_gift{
    padding-left: 0;
    padding-bottom: 30px;
  }
  .managegift-section .parent .right .box_top h2{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .managegift-section .parent .right .box_top .total_voucher{
    display: none;
  }
  .gift_item{
    padding: 10px 0 0px 0px;
    position: relative;
    margin-bottom: 10px;
    min-height: 0;
  }
  .gift_item .gift_img{
    width: 65px;
    height: 65px;
    left: 10px;
    position: absolute;
    top: 17px;
    transform: none;  
  }
  .gift_item .gift_info{
    padding-left: 0px;
  }
  .gift_item .gift_info .product_name{
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .gift_item .gift_info .product_name h3{
    font-size: 14px;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: 0px;
    padding-left: 85px;
  }
  .gift_item .gift_info .product_name h3 span{
    bottom: 1px;
    font-size: 10px;
    color: #ff5f5f;
    border:1px solid #ff5f5f;
    background: #fff;
    height: 16px;
    line-height: 14px;
    border-radius: 4px;
    font-weight: 500;
    padding: 0 5px;
  }
  .gift_item .gift_info .product_name p.redeemed_location{
    display: none;
  }
/*  .gift_item .gift_info .content{

  }
*/
  .gift_item .gift_info .content p{
    width: 72%;
    margin-bottom: 12px;
    font-size: 12px;
    margin-bottom: 10px !important;
  }

   .gift_item .gift_info .content p.received_date{
      padding-left: 85px;
  }
  /* ds mobi */
    .gift_item .gift_info .content p span{
    height: auto !important;
    font-size: 12px !important;
  }
  

  /* end ds mobi */

  .gift_item .gift_info .content p label{
     font-size: 12px;
     margin-bottom: 0px;
    /*text-align: center;*/
  }
  .gift_item .gift_info .content p.status label{
    font-size: 12px;
    text-align: center;
    padding-top: 1px;

  }
  .gift_item .gift_info .content p.status label b{
    display: block;

  }

  .gift_item .gift_info .content p.status{
    width: 28%;
    margin-top: -6px;
    padding-right: 10px;
    /*position: absolute;*/
    /*top: 30px;*/
    /*right: -10px;*/
  }
  .gift_item .gift_info .content p.status span{
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .gift_item .gift_info .content p.status label.receiver_em_sms:hover{
    text-align: center;
    position: absolute;
    right: 10px;
    background: #fff;
    width: auto;
    display: block;
    min-width: 88px;
  }

  .gift_item .gift_info .content p.expiry_date{
    width: 100%;
    padding-top: 0px;
    text-align: center;

  }
  .gift_item .gift_info .content p.expiry_date label{
    display: inline;
    margin-left: 20px;
    font-size: 14px;
    /*display: inline-block;
    width: 50%;*/
   
  }
  .gift_item .gift_info .content p.expiry_date label:first-child{
    margin-left: 0px;
  }
  /*.gift_item .gift_info .content p.expiry_date{
    width: 100%;
  }*/
 /* .gift_item .gift_info .content p.expiry_date{
    display: none;
  }*/
  .gift_item .show_voucher{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    transform:inherit;
  }
  .gift_item .show_voucher:before  {
    display: none;
  }
  .load_more_btn, .load_more_btn:hover, .load_more_btn:active, .load_more_btn:focus{
    width: 100%;
    margin-top: 20px;
  }
  .filter_mobile{
    display: block;
    clear: both;
    border:1px solid;
    border-radius: 12px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    background:#fff;
    font-size: 0;
  }
  .filter_mobile .group_filter{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
    top: 100%;
    margin-top: 5px;
    padding: 15px;
    background:#fff;
    border-radius: 8px;
    border: solid 1px #e3e3e3;
  }
  .filter_mobile .group_filter h3{
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    color: #636363;
    text-transform: uppercase;
  }
  .filter_mobile .group_filter label{
    font-size: 16px;
    color: #303030;
  }
  .filter_mobile.active .group_filter {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
  }
  .filter_mobile p.title{
    display: block;
    clear: both;
    font-size: 12px;
    color: #999999;
    clear: both;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .filter_mobile p.title:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4a4a4a transparent;
  }
  .filter_mobile span{
    border-radius: 6px;
    height: 30px;
    background-color: #eef1f8;
    font-family: Gotham Rounded;
    font-size: 12px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    display: inline-block;
    padding: 0 20px 0 5px;
    margin-right: 10px;
    position: relative;
  }
  .filter_mobile span:after{
    content: '\e901';
    display: inline-block;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    right: 5px;
    font-size: 7px;
    font-family: 'icomoon' !important;
    line-height: 1;
  }
  .managegift-section .parent .right .box_top {
    padding-top: 30px;
    padding-bottom: 15px;
}
.gift_item .gift_img img{
  min-height: 0;
}
.gift_item .gift_img .vc_state{
    font-size: 10px;
    font-weight: normal;
    border-radius: 10px;
    top: -8px;
    left: 50%;
    right: initial;
    transform: translateX(-50%);
    width: 60px;
    display: block;
    padding: 0;
    text-align: center;
    height: 16px;
    line-height: 13px;
}

}

@media (max-width: 320px){

  .gift_item .gift_info .content p{
    width: 70%;
  }
  
  .gift_item .gift_info .content p.status{
    width: 30%;
  }

}