<section class="managegift-section">
  <div class="container">
      <div id="parent" class="row parent" >
      <div class="col-md-3 left child">
        <app-menu-left></app-menu-left>
      </div>
      <div class="col-md-9 right child">
        <div class="wrap_gift">
          <div class="box_top">
              <div class="title">
                <h2 class="">{{'gift_sent' | translate}}</h2>
                <p class="total_voucher">{{ 'found_num_egift' | translate:{number: numOfVoucher} }}</p>
              </div>
              <div class="filter_box" id="filter" (click)="toggleClick($event)" [class.active]="filterDropdownClicked">
                <p class="title_mb">{{'filter_by' | translate}}</p>
                <div class="filter_selected_mb">
                  <span *ngFor="let item of filterValueSelected" class="{{item.name}}" (click)="removeSelected(item,$event)">Status: {{item.name | translate}}</span>
                  <!-- <span *ngIf="sort_val" class="sortby {{sort_val}}" (click)="removeRadioSelected(item,$event)">{{'sort_by' | translate}}: {{sort_val}}</span> -->
                </div>

                <div class="filter_group">
                  <div class="filter_left">
                    <label>{{'filter_by' | translate}}</label>
                    <p *ngFor="let item of filterValue"><input type="checkbox" name="filterValue[]" value="{{item.value}}" id="filter_{{item.value}}" (change)="updateCheckedOptions(item, $event)"
                      [checked] = "(filterValueSelected.indexOf(item) == -1) ? '':'true'"
                      ><label for="filter_{{item.value}}">{{item.name | translate}}</label></p>
                  </div>
                  <!-- <div class="filter_right"> -->
                    <!-- <label>{{'sort_by' | translate}}</label> -->
                   <!--  <p><input type="radio" name="sort" value="expiry" id="sort_expiry" [(ngModel)]='sort_val' (click)='onSortChange("expiry")'><label for="sort_expiry">{{'expiry' | translate}}</label></p> -->
                    <!-- <p><input type="radio" name="sort" value="value" id="sort_value" [(ngModel)]='sort_val' (click)='onSortChange("value")'><label for="sort_value">{{'value' | translate}}</label></p> -->
                    <!-- <p><input type="radio" name="sort" value="ordertime" id="sort_ordertime" [(ngModel)]='sort_val' (click)='onSortChange("ordertime")'><label for="sort_ordertime">Order Time</label></p> -->
                  <!-- </div> -->
                </div>
              </div>
          </div>
          <div class="box_content">
            <div class="gift_list">
        
              <!-- test -->
              <div *ngIf = "!dataLoaded && voucherDataTemp.length == 0" class="tab-content"  [ngStyle]="{'height': '300px','position':'relative'}">
      
                <p style="text-align:center;color:red;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
                  <i class="fa fa-spinner fa-spin" style="font-size:48px;clear:both;display:block"></i>
                  {{'loading' | translate}}
                </p>
              </div>
              <div *ngIf = "dataLoaded && voucherDataTemp.length == 0" class="tab-content"  [ngStyle]="{'height': '300px','position':'relative'}">
                <p style="text-align:center;color:red;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
                  {{'u_dont_has_voucher' | translate}}
                </p>
              </div>
              <div class="gift_item "  *ngFor="let voucher of voucherDataTemp">
                <div class="gift_img">
                  <img src="{{voucher.data().productImage}}" onError="this.src='https://img.gotit.vn/compress/580x580/2018/03/1521708477_ocpeM.png'">
                  <span class="vc_state not_sent" *ngIf="voucher.data().step == 2">{{'vc_state_not_sent' | translate}}</span>
                  <span class="vc_state opened" *ngIf="voucher.data().state == 3">{{'vc_state_opened' | translate}}</span>
                  <span class="vc_state used" *ngIf="voucher.data().state == 4">{{'vc_state_used' | translate}}</span>
                  <span class="vc_state sent" *ngIf="(voucher.data().state == 5 || voucher.data().state == 2) && voucher.data().step ==3">{{'vc_state_sent' | translate}}</span>
                  <span class="vc_state expired" *ngIf="voucher.data().state == 8">{{'vc_state_expired' | translate}}</span>
                </div>
                 <div class="gift_info">
                  <div class="product_name">
                    <h3>
                    {{voucher.data().brandNm}}
                     <!--  <span *ngIf="calculateDay(voucher.data().expired_date) < 14 && voucher.data().state == 3">{{'expiry_soon' | translate}}</span> -->
                    </h3>
                  </div>
                  <div class="content">
                  
                    <p class="received_date">
                      <ng-container *ngIf="!voucher.data().productNm">
                        <label [innerHTML]="(translate.currentLang == 'vi' ?  voucher.data().productNmVi : voucher.data().productNmEn) + (voucher.data().quantity > 1  ?' x ' + voucher.data().quantity : '')"></label>
                      </ng-container>
                      <ng-container *ngIf="voucher.data().productNm">
                        <label [innerHTML]="voucher.data().productNm + (voucher.data().quantity > 1  ?' x ' + voucher.data().quantity : '')"></label>
                      </ng-container>
                      <label>{{voucher.data().price | number:'1.0-3'}} VND</label>
                      <label>{{voucher.data().createdAt | slice:0:16}}</label>

                    </p>
                    <p class="status">
                      <!-- <span >SMS</span> -->
                      <span class="not_sent" *ngIf="voucher.data().step == 2">{{'not_sent' |translate}}</span>
                      <span class="messenger" *ngIf="voucher.data().step == 3 && voucher.data().sendType == 'messenger' " ><small>{{'sent_by' | translate}}</small> {{voucher.data().sendType}}</span>
                      <span class="sms" *ngIf="voucher.data().step == 3 && voucher.data().sendType == 'sms' " ><small>{{'sent_by' | translate}}</small> {{voucher.data().sendType}}</span>
                      <span class="facebook" *ngIf="voucher.data().step == 3 && voucher.data().sendType == 'facebook' " ><small>{{'sent_by' | translate}}</small> {{voucher.data().sendType}}</span>
                      <span class="email" *ngIf="voucher.data().step == 3 && voucher.data().sendType == 'email' " ><small>{{'sent_by' | translate}}</small> {{voucher.data().sendType}}</span>
                      <span class="viber" *ngIf="voucher.data().step == 3 && voucher.data().sendType == 'viber' " ><small>{{'sent_by' | translate}}</small> {{voucher.data().sendType}}</span>
                      <span class="whatsapp" *ngIf="voucher.data().step == 3 && voucher.data().sendType == 'whatsapp' " ><small>{{'sent_by' | translate}}</small> {{voucher.data().sendType}}</span>

                      <!-- <span >Expired</span> -->
                      <label *ngIf="voucher.data().receiverName && voucher.data().receiverName != ''" class="receiver_name">{{ voucher.data().receiverName }}<small *ngIf="voucher.data().step == 2"> ({{voucher.data().sendType}})</small></label>
                      <label *ngIf="voucher.data().step == 3 && (voucher.data().sendType == 'email' || voucher.data().sendType == 'sms')" class="receiver_em_sms">
                        {{voucher.data().sendType == 'email' ? voucher.data().receiverEmail : voucher.data().receiverPhone}}
                      </label>
                     
                    </p>
                    <p class="expiry_date">
                      <label ><img src="assets/img/forward-icon@3x.png">
                        <a *ngIf="(voucher.data().sendType == 'sms' || voucher.data().sendType == 'email') && !isMobile" href="javascript:void(0)" (click)="send_sms_or_email(voucher.data())">{{(voucher.data().step == 2 ? 'send_now':'send_again') | translate }}</a>
                        
                        <!-- sms or email mobile -->
                        <a *ngIf="voucher.data().sendType == 'sms' && isMobile" [href]='sanitize("sms:?&body="+voucher.data().senderName+" tang ban mot mon qua qua Got It. Bam vao duong link de xem eGift cua ban: "+voucher.data().voucherLink+"")' class="btn-send send-sms" (click)="sendVoucherAppToApp(voucher.data())">
                          {{(voucher.data().step == 2 ? 'send_now':'send_again') | translate}}
                        </a>

                        <a *ngIf="voucher.data().sendType == 'email' && isMobile" [href]='sanitize("mailto:?subject="+voucher.data().senderName+" gửi tặng bạn món quà từ Got It!&body="+voucher.data().message+" Click this link to see voucher detail: "+voucher.data().voucherLink+"")' class="btn-send send-email" (click)="sendVoucherAppToApp(voucher.data())">
                          {{(voucher.data().step == 2 ? 'send_now':'send_again') | translate}}
                        </a>


                        <a *ngIf="(voucher.data().sendType == 'facebook' || voucher.data().sendType == 'messenger')" href="javascript:void(0)" (click)="sendFbOrMsg(voucher.data())">{{(voucher.data().step == 2 ? 'send_now':'send_again') | translate}}</a>
                        <a *ngIf="voucher.data().sendType == 'viber'" [href]='sanitize("viber://forward?text="+voucher.data().message+". Click this link below to see voucher detail: "+voucher.data().voucherLink+"")' (click)="sendVoucherAppToApp(voucher.data())">{{(voucher.data().step == 2 ? 'send_now':'send_again') | translate}}</a>
                        <a *ngIf="voucher.data().sendType == 'whatsapp'" [href]='sanitize("whatsapp://send?text="+voucher.data().message+". Click this link below to see voucher detail: "+voucher.data().voucherLink+"")' (click)="sendVoucherAppToApp(voucher.data())">{{(voucher.data().step == 2 ? 'send_now':'send_again') | translate}}</a>
                      </label>
                      <label class="purchase-label"><img src="assets/img/cart-icon@3x.png"><a [routerLink]="['/send-egift']">{{'purchase_again' | translate }}</a></label>
                      <!-- <label><a href="#">{{'term_and_condition' | translate}}</a></label> -->
                      
                    </p>
                  </div>
                <!--   <ul class="list_guide_link">
                    <li><a href="javascript:void(0)">Where to use</a></li>
                    <li><a href="javascript:void(0)">How to use</a></li>
                    <li><a href="javascript:void(0)">Terms and Conditions</a></li>
                  </ul> -->
                </div>
                  <!-- <a href="{{voucher.data().linkCode}}" target="_blank" class="show_voucher"></a> -->
              </div>

            </div>
            <div *ngIf = "loadMoreLoading" class="tab-content"  [ngStyle]="{'position':'relative','width':'100%','display':'block','height':'50px'}">
                <p style="text-align:center;color:red;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
                  <i class="fa fa-spinner fa-spin" style="font-size:48px;clear:both;display:block"></i>
                  {{'loading' | translate}}
                </p>
              </div>
            <a href="javascript:void(0)" class="lazy_load_point" #lazyPoint [ngStyle]="{'text-indent': '-9999999px'}"></a>
            <!-- <a href="javascript:void(0)" *ngIf="showLoadBtn" class="load_more_btn" (click)="loadMore()">Load more</a> -->
          </div>
        </div>
      </div>
      <div class="left-fixed-wrap"></div>
      </div>
  </div>

  <div class="modal fade" bsModal id="notificationModal" #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="overflow:hidden">
          <h4 class="modal-title pull-left">{{'notification' | translate}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{noticeMessage}}</p>
        </div>
       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="staticModal.hide()">Cancel</button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="isLoading">
    <div id='img-loading' class='uil-spin-css' style="-webkit-transform:scale(0.4)"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
  </div>
</section>