@font-face { 
  font-family: 'Gotham Rounded'; 
  src: url('../fonts/SVN-GothamRounded.eot') format('embedded-opentype'); 
  src: url('../fonts/SVN-GothamRounded.woff') format('woff'), url('../fonts/SVN-GothamRounded.ttf') format('truetype'), url('../fonts/SVN-GothamRounded.svg#SVN-GothamRounded') format('svg'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Gotham Rounded'; 
  src: url('../fonts/SVN-GothamRoundedMedium.eot') format('embedded-opentype'); 
  src: url('../fonts/SVN-GothamRoundedMedium.woff') format('woff'), url('../fonts/SVN-GothamRoundedMedium.ttf') format('truetype'), url('../fonts/SVN-GothamRoundedMedium.svg#SVN-GothamRoundedMedium') format('svg'); 
  font-weight: 500; 
  font-style: normal; 
}
*,body, html{
	margin: 0;
	padding:0;
}
.loadingPayment{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.loadingPayment p{
	font-family: Gotham Rounded;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	color: #636363;
	text-align: center;
}
.loadingPayment p span{
	width: 75px;
	height: 75px;
	display: inline-block;
}
.loadingPayment p span i{
	font-size: 75px;
	color: #ff4545;
}
.loadingPayment.failed p span{
	background: #ff5f5f;
	border-radius: 50%;
	position: relative;
}
.loadingPayment.failed p span img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.loadingPayment h2{
	font-family: Gotham Rounded;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: normal;
	color: #303030;
	text-align:center;
}

.momoresult{
	width: 400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 40px 20px;
}
.momoresult h2{
	font-family: Gotham Rounded;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: normal;
	color: #303030;
	text-align:center;
}
.momoresult p {
    font-family: Gotham Rounded;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    color: #636363;
    text-align: center;
}
.momoresult p span {
    background: #ff5f5f;
    border-radius: 50%;
    position: relative;
    width: 65px;
    height: 65px;
    display: inline-block;
}
.momoresult p span img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}