.head-landing{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}
.head-landing:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    background: url(../../assets/img/d-mockup3x.png) no-repeat right 70px;
    background-size: auto 900px;
}
.head-landing:after
{
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    transform: rotate(-60deg);
    border-bottom-left-radius: 100px;
    background-color: #f3f3f6;
    bottom: 370px;
    background-size: cover;
    right: -472px;
    z-index: -2;
}

.head-title h2{
  margin-top: 70px;
}
.head-title p {
  max-width: 435px;
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
}
.head-content{
  padding-bottom: 30px;
}
.btn-send,.btn-send:hover,.btn-send:focus
{
  width: 318px;
  height: 56px;
  margin-bottom: 60px;
  margin-top: 17px;
  border-radius: 10px;
  background-color: #ff5f5f;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding-top: 15px; 
}

.btn-send span {
    display: block;
    clear: both;
    font-size: 14px;
    text-align: center;
    color: #ffdede;
}
.box-item{
  width: 270px;
  min-height: 360px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e3e3;
  padding: 30px;
  margin-bottom: 30px;
}
.box-item img{
  padding-bottom: 15px;
}
.box-item p {
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
}

.second{
	margin-top: 85px;
}

.voucher-section{
  /*width: 100%;
  height: 446px;*/
  background-color: #f3f3f6;
  display: block;
}


/*/step */

.voucher-step .step{
  position: relative;
  float: left;
  
  width: 33%;
  text-align: center;
}
.voucher-step{
padding-top: 60px;
}
.voucher-step .step p{
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #303030;
  padding-top: 33px;
  padding-bottom: 60px;
}
.step img{
  width: 40px;
  height: 40px;
}

.step:after{
    position: absolute;
    content: '\e907';
    font-family: 'icomoon' !important;
    right: -15px;
    top: 25px;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 26px;
    color: #cccccc;

}

.step:last-child:after{
  display: none;
}



/* /Egift */
.voucher-egift{
  
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e3e3;
/*  position: relative;*/
  margin-bottom:60px;
 /* padding-bottom: 50px;*/


}
.voucher-egift ul li p{
  font-family: Gotham Rounded;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #ff4545;
}
.voucher-egift ul li p.productname{
  font-size: 12px;
  color: #636363;
  /*text-transform: uppercase;
*/}
.voucher-egift ul{
  margin: 0px;

}
.voucher-egift ul li{
   width: 20%;
    float: left;
    list-style:none; 
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: dashed 1px #e3e3e3 ;

}
.voucher-egift ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0; /* Chieu cao cua thanh phan bang 0 */
    line-height: 0; /* Khoang cach cua dong` bang 0 */
    visibility: hidden; /* Xac dinh thanh phan khong dc nhin thay */
}
.voucher-egift ul li a.btn-sendnow 
{

  width: 170px;
  height: 36px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 2px #7d7d7d;
  text-align: center;
  line-height: 30px;
  color: #303030;
  font-weight: 500;
  margin-top: 30px;

}
.voucher-egift ul li:last-child
{
    border-right: hidden;
}


/* /accordion-section*/
a.viewall_mobi{
  display: none;
}
a.viewright:after
{
    position: absolute;
    content: '\e90a';
    font-family: 'icomoon' !important;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 18px;
    color: #7d7d7d;
}
a.viewright{
  position: relative;
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.88;
  text-align: right;
  color: #ff5f5f;
  padding-right: 25px;
  cursor: pointer;
}

.accordion-section.faq
{
  background-color: white ;
}
@media (max-width: 480px){
  .head-landing:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 240px;
    left: 0%;
    z-index: -1;
    background: url(../../assets/img/m-mockup3x.png) no-repeat top center;
    background-size: 100% auto;
  }
  .head-landing:after {
    content: "";
    position: absolute;
    width: 1000px;
    height: 1000px;
    transform: rotate(-60deg);
    border-bottom-left-radius: 100px;
    background-color: #f3f3f6;
    bottom: inherit;
    background-size: cover;
    /* left: 0; */
    right: -400px;
    z-index: -2;
    top: -200px;
  }
  .head-title{
    margin-bottom: 590px;
  }
  .head-title h2{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #303030;
  }
  .head-title p{
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #636363;
  }
  .head-content{
    padding-bottom: 10px;
  }
  .btn-send, .btn-send:hover, .btn-send:focus {
    width: 100%;
    margin-bottom: 10px;
  }
  .box-item{
    width: 100%;
    min-height: inherit;
    margin-bottom: 10px;
  }
  .box-item img{
    width: 60px;
    height: 60px;
    padding: 0;
    margin-bottom: 20px;
  }
  .box-item h4{
    font-family: Gotham Rounded;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #303030;
  }
  .box-item p{
    font-family: Gotham Rounded;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #666666;
  }
  .second{
    margin-top: 0px;
  }
  /*/voucher*/

.voucher-section{
  padding: 0 10px;
}

.voucher-egift{
  margin-bottom: 30px;
}

.voucher-step .step img{
  width: 20px;
  height: 20px;
}
.voucher-step {
    padding-top: 30px;
}
.voucher-step .step p{
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 12px;
}

.step:after{
    position: absolute;
    content: '\e907';
    font-family: 'icomoon' !important;
    right: -11px;
    top: 14px;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 12px;
    color: #cccccc;

}

.voucher-egift ul li{
   width: 100%;
    float: left;
    list-style:none; 
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: dashed 1px #e3e3e3 ;
    border-right: none;
  }
  .voucher-egift ul li:last-child
  {
    border-bottom:hidden;
  }

 /*/accordion-section faq*/
a.viewright
  {
    display: none;
  }
a.viewall_mobi{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 2px #7d7d7d;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #303030;
  padding: 12px  0;
  margin: 12px 0 0; 

  }
  .faq .wrap_faq{
    margin-right: -10px;
    margin-left: -10px;
  }
  
}
/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .introdution-section .container{
    background-position: right -150px bottom;
  }
  .head-landing:before{
    background: url(../../assets/img/d-mockup.png) no-repeat right 70px;
    background-size: auto 600px;
  }
}



/* Large screens ----------- */
@media (min-width: 1200px){
  .head-landing{
    max-width: 100%;
  }
  .head-landing:before{
    background: url(../../assets/img/d-mockup.png) no-repeat right 70px;
    background-size: auto 850px;
  }
  .head-landing:after{
    width: 2500px;
    height: 2500px;
    bottom: 470px;
    right: -610px;
  }
}   

@media screen and (min-width: 1440px) {
  .head-landing{
    max-width: 100%;
  }
  .head-landing:before{
    background: url(../../assets/img/d-mockup.png) no-repeat right 70px;
    background-size: auto 1000px;
  }
  .head-landing:after{
    width: 2500px;
    height: 2500px;
    bottom: 420px;
    right: -660px;
  }
}
@media screen and (min-width: 1600px) {
  .head-landing{
    max-width: 100%;
  }
  .head-landing:before{
    background: url(../../assets/img/d-mockup.png) no-repeat right 70px;
    background-size: auto 1000px;
  }
  .head-landing:after{
    width: 2500px;
    height: 2500px;
    bottom: 420px;
    right: -660px;
  }
}
@media screen and (min-width: 1900px) {
  
}
