.login{
	background-color: #f3f3f6;
}
.login footer{
  display: none !important;
}
.login .content {
  width: 568px;
  margin: 40px auto 20px auto;
  margin-top: 60px;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  padding: 30px;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform:translate(-50%,-50%);*/

}


.form-login h2.title{
  font-family: Gotham Rounded;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
.form-login p.subtitle{
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  max-width: 400px;
  margin: 0 auto 30px;
}
.form-login .group_button{
  text-align: center;
}
.form-login .group_button a{
  display: block;
  max-width: 400px;
  height: 50px;
  line-height: 50px;
  border-radius: 12px;
  background: #3b5998;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;  
  padding-left: 70px;
  position: relative;
}
.form-login .group_button a:before{
  content: '';
  width: 70px;
  display: block;
  position: absolute;
  height: 50px;
  border-right: 1px solid #fff;
  top: 0;
  left: 0;
}
.form-login .group_button a.facebook:before{
  background: url(../../assets/img/facebook2x.png) no-repeat center center;
  background-size: auto 20px;
}
.form-login .group_button a.googleplus{
  background: #d34836;
}
.form-login .group_button a.googleplus:before{
  background: url(../../assets/img/googleplus2x.png) no-repeat center center;
  background-size: auto 20px;
}




.login .content .login-form, .login .content .forget-form {
  padding: 0px;
  margin: 0px;
}
.login .form-title {
  /*color: #edf4f8;*/
  /*font-size: 19px;*/
  /*font-weight: 400 !important;*/
  margin-bottom: 30px;
}
.login .form-title {
  color: #edf4f8;
  font-size: 19px;
  font-weight: 400 !important;
}
.login .form-subtitle {
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
}
.login .form-subtitle a{
	color: #ff4545;
}
.form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding: 13px 15px;
  min-height: 52px;
}

.login .form-group.form-md-floating-label {
  position: relative;
  /*margin: 0 0 35px 0;*/
}
.login .form-group.form-md-floating-label .form-control ~ label {
  font-size: 14px;
  top: 50%;
  transform:translateY(-50%);
  transition: 0.2s ease all;
  color: #000000;
  font-weight: normal;
  font-family: Gotham Rounded;
  /*width: 100%;*/
  position: absolute;
  left: 15px;
  bottom: 0;
  pointer-events: none;
}
.login .form-group.form-md-floating-label textarea.form-control ~ label{
	top:15px;
	transform:inherit;
}
.login .form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding:13px 15px;
  min-height: 52px;
}
.login .form-group .form-control::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.login .form-group .form-control:-ms-input-placeholder {
  color: #000000;
}
.login .form-group .form-control::-webkit-input-placeholder {
  color: #000000;
}
.login .form-group.form-md-floating-label .form-control:focus,
.login .form-group.form-md-floating-label .form-control.edited{
  font-size: 14px;
	padding-top: 20px;
	padding-bottom: 6px;
}
.login .form-group.form-md-floating-label .form-control.edited ~ label, 
.login .form-group.form-md-floating-label .form-control:focus ~ label{
  top: 5px;
  transform: inherit;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 15px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  
}
[type="checkbox"]:checked + label:before{
  background: #2f88ff;
  border: 1px solid #2f88ff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\e91f';
  font-family: 'icomoon' !important;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.login .content .form-actions{
	display: block;
	clear: both;
	overflow: hidden;
}
.login .content .form-actions button.btn-submit,.login .content .form-actions button.btn-submit:focus{
	height: 46px;
	line-height: 44px;
	border-radius: 12px;
	background-color: #ff5f5f;
	display: block;
	width: 100%;
	padding:0;
	font-family: Gotham Rounded;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
	outline: 0;
	margin: 15px auto;
}
.login .login-options{
	display: block;
	overflow: hidden;
}
.login .login-options .social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin: 0px;
  margin-bottom: 15px; 
  width: 100%;
}
.login .login-options .social-icons li a{
	width: 100%;
	height: 46px;
	border-radius: 12px;
	background-color: #3b5998;
	border: solid 2px #3b5998;
	display: block;
	position: relative;
	text-align: center;

}
.login .login-options .social-icons li a.facebook{
  background-color: #3b5998;
  border-color: #3b5998;
  background: url(../../assets/img/facebook2x.png) no-repeat center center #3b5998;
  background-size: auto 20px;
}
.login .login-options .social-icons li a.googleplus{
  background-color: #d34836;
  border-color: #d34836;
  background: url(../../assets/img/googleplus2x.png) no-repeat center center #d34836;
  background-size: auto 20px;
}
/*.login .login-options .social-icons li a:before{
	content: '\e91d';
  font-family: 'icomoon' !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
  color: #fff;
}
.login .login-options .social-icons li a.googleplus:before{

}*/
.login .login-options h4{
	font-family: Gotham Rounded;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: #666666;
	font-weight: normal;
  position: relative;
}

.login .group_button{
  text-align: center;
}
.login .group_button a{
  display: block;
  max-width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 12px;
  background: #3b5998;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;  
  padding-left: 70px;
  position: relative;
}
.login .group_button a:before{
  content: '';
  width: 70px;
  display: block;
  position: absolute;
  height: 50px;
  border-right: 1px solid #fff;
  top: 0;
  left: 0;
}
.login .group_button a.facebook:before{
  background: url(../../assets/img/facebook2x.png) no-repeat center center;
  background-size: auto 20px;
}
.login .group_button a.googleplus{
  background: #d34836;
}
.login .group_button a.googleplus:before{
  background: url(../../assets/img/googleplus2x.png) no-repeat center center;
  background-size: auto 20px;
}
.login-options h4:after, .login-options h4:before {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
    display: block;
    background: #e3e3e3;
}
.login-options h4:after{
  left: 50%;
  margin-left: 30px;
}
.login-options h4:before {
  right: 50%;
  margin-right: 30px;
}
@media (max-width: 480px) { 
  html, body.login{
    background-color: #fff;
  }
  .login{
    background-color: #fff;
  }  
  .login .content{
    width: 100%;
    border: 0;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .login .form-title h2{
    font-family: Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #303030;
  }
  .login .form-subtitle{
    font-size: 14px;
    line-height: 1.57;
  }
  .login .login-options h4{
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #666666;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .login .login-options .social-icons{
    text-align: center;
    float: none !important;
    display: block;
    clear: both;
  }
  .login .login-options .social-icons li{
    float: none;
  }
  .login .login-options .social-icons li:first-of-type{
    margin-left: 0;
  }
  .login .login-options .social-icons li a{
  width: 60px;
  height: 36px;
  border-radius: 8px;
  background-color: #3b5998;
  border: solid 2px #3b5998;
  display: inline-block;
  position: relative;
  text-align: center;
}
  .login .content .form-actions button.btn-submit, 
  .login .content .form-actions button.btn-submit:focus{
    margin: 30px auto;
  }
}