@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fpem09');
  src:  url('../fonts/icomoon.eot?fpem09#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fpem09') format('truetype'),
    url('../fonts/icomoon.woff?fpem09') format('woff'),
    url('../fonts/icomoon.svg?fpem09#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-collapse:before {
  content: "\e902";
}
.icon-dropdown:before {
  content: "\e903";
}
.icon-expand:before {
  content: "\e904";
}
.icon-filter:before {
  content: "\e905";
}
.icon-gift:before {
  content: "\e906";
}
.icon-goto:before {
  content: "\e907";
}
.icon-hambuger:before {
  content: "\e908";
}
.icon-information:before {
  content: "\e909";
}
.icon-left:before {
  content: "\e90a";
}
.icon-location:before {
  content: "\e90b";
}
.icon-lock:before {
  content: "\e90c";
}
.icon-message:before {
  content: "\e90d";
}
.icon-movedown:before {
  content: "\e90e";
}
.icon-moveup:before {
  content: "\e90f";
}
.icon-next:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-previous:before {
  content: "\e912";
}
.icon-statement:before {
  content: "\e913";
}
.icon-succeed:before {
  content: "\e914";
}
.icon-top:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-minus:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
.icon-whatsapp:before {
  content: "\e919";
}
.icon-viber:before {
  content: "\e91a";
}
.icon-sms:before {
  content: "\e91b";
}
.icon-messenger:before {
  content: "\e91c";
}
.icon-facebook:before {
  content: "\e91d";
}
.icon-email:before {
  content: "\e91e";
}
