.signup{
	background-color: #f3f3f6;
}
.signup footer{
  display: none !important;
}
.signup .content {
  width: 568px;
  margin: 40px auto 20px auto;
  margin-top: 60px;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  padding: 30px;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform:translate(-50%,-50%);*/

}
.signup .content .signup-form, .signup .content .forget-form {
  padding: 0px;
  margin: 0px;
}
.signup .form-title {
  /*color: #edf4f8;*/
  /*font-size: 19px;*/
  /*font-weight: 400 !important;*/

  margin-bottom: 30px;
}
.signup .form-title {
  color: #edf4f8;
  font-size: 19px;
  font-weight: 400 !important;
}
.signup .form-subtitle {
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
}
.signup .form-title h2{
  margin-top: -10px !important;
}
.signup .form-subtitle a{
	color: #ff4545;
}
.form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding: 13px 15px;
  min-height: 52px;
}

.signup .form-group.form-md-floating-label {
  position: relative;
  /*margin: 0 0 35px 0;*/
}
.signup .form-group.form-md-floating-label .form-control ~ label {
  font-size: 14px;
  top: 50%;
  transform:translateY(-50%);
  transition: 0.2s ease all;
  color: #000000;
  font-weight: normal;
  font-family: Gotham Rounded;
  /*width: 100%;*/
  position: absolute;
  left: 15px;
  bottom: 0;
  pointer-events: none;
}
.signup .form-group.form-md-floating-label textarea.form-control ~ label{
	top:15px;
	transform:inherit;
}
.signup .form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding:13px 15px;
  min-height: 52px;
}
.signup .form-group .form-control::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.signup .form-group .form-control:-ms-input-placeholder {
  color: #000000;
}
.signup .form-group .form-control::-webkit-input-placeholder {
  color: #000000;
}
.signup .form-group.form-md-floating-label .form-control:focus,
.signup .form-group.form-md-floating-label .form-control.edited{
	padding-top: 16px;
	padding-bottom: 10px;
}
.signup .form-group.form-md-floating-label .form-control.edited ~ label, 
.signup .form-group.form-md-floating-label .form-control:focus ~ label{
  top: 5px;
  transform: inherit;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 15px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  
}
[type="checkbox"]:checked + label:before{
  background: #2f88ff;
  border: 1px solid #2f88ff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\e91f';
  font-family: 'icomoon' !important;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.signup .content .form-actions{
	display: block;
	clear: both;
	overflow: hidden;
}
.signup .content .form-actions button.btn-submit,.signup .content .form-actions button.btn-submit:focus{
	height: 46px;
	line-height: 44px;
	border-radius: 12px;
	background-color: #ff5f5f;
	display: block;
	width: 100%;
	padding:0;
	font-family: Gotham Rounded;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
	outline: 0;
	margin: 20px 0 52px 0;
}
.signup .signup-options{
	display: block;
	overflow: hidden;
}
.signup .signup-options .social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin-right: 0px;
  margin-bottom: 5px; 
  margin-left: 15px;
}
.signup .signup-options .social-icons li a{
	width: 60px;
	height: 36px;
	border-radius: 8px;
	background-color: #3b5998;
	border: solid 2px #3b5998;
	display: block;
	position: relative;
	text-align: center;

}
.signup .signup-options .social-icons li a.facebook{
  background-color: #3b5998;
  border-color: #3b5998;
  background: url(../../assets/img/facebook2x.png) no-repeat center center #3b5998;
  background-size: auto 20px;
}
.signup .signup-options .social-icons li a.googleplus{
  background-color: #d34836;
  border-color: #d34836;
  background: url(../../assets/img/googleplus2x.png) no-repeat center center #d34836;
  background-size: auto 20px;
}
/*.signup .signup-options .social-icons li a:before{
	content: '\e91d';
  font-family: 'icomoon' !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
  color: #fff;
}
.signup .signup-options .social-icons li a.googleplus:before{

}*/
.signup .signup-options h4{
	font-family: Gotham Rounded;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	color: #666666;
	font-weight: normal;
}

/*/style group two col*/
.group_two_col:after {
  content: "";
  display: block;
  clear: both;
}
.group_two_col .left,.group_two_col .right{
  width: 50%;
  float: left;
}

.group_two_col .left .form-control{
  border-radius: 0 !important;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}

.group_two_col .right .form-control{
  margin-left: -1px;
    border-radius: 0 !important;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    
}

.error-msg{
  color: #ff4545;
}   


@media (max-width: 480px) { 
  html, body.signup{
    background-color: #fff;
  }
  .signup{
    background-color: #fff;
  }  
  .signup .content{
    width: 100%;
    border: 0;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .signup .form-title h2{
    font-family: Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #303030;
  }
  .signup .form-subtitle{
    font-size: 14px;
    line-height: 1.57;
  }
  .signup .signup-options h4{
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #666666;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .signup .signup-options .social-icons{
    text-align: center;
    float: none !important;
    display: block;
    clear: both;
  }
  .signup .signup-options .social-icons li{
    float: none;
  }
  .signup .signup-options .social-icons li a{
  width: 60px;
  height: 36px;
  border-radius: 8px;
  background-color: #3b5998;
  border: solid 2px #3b5998;
  display: inline-block;
  position: relative;
  text-align: center;
}
  .signup .content .form-actions button.btn-submit, 
  .signup .content .form-actions button.btn-submit:focus{
    margin: 30px 0 42px 0 ;
  }

  .group_two_col .left,.group_two_col .right{
  width: 100%;
  float: left;
  }
  .group_two_col .left {
    margin-bottom: -1px;
  }

  .group_two_col .left .form-control{
  border-radius: 0 !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  }

  .group_two_col .right .form-control{
    border-radius: 0 !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border-top: 0 !important;
    margin-left: 0 
    }

    .signup-options ul li:first-child{
      margin-left: 0 !important;
    }
    .signup-options ul li{
      margin-left: 5px !important;
    }
 
}