<section class="introdution-section" >
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-8 text-intro">
        <h2>{{'send_gifts_instantly' | translate}}</h2>
        <p>{{'content_home_send_gift' | translate}}</p>
        <div class="img_bg_mobile">
            <img src="../../assets/img/product-img-mobile-new.png">
        </div>
        <div class="btn_group">
          <a href="javascript:void(0)" [routerLink]="['/send-egift']" class="btn-lg btn-send">
          {{'send_a_gift' | translate}}
          </a>
          <a href="javascript:void(0)" [routerLink]="['/gift-received']" class="btn-lg btn-manage">{{'manage_your_gifts' | translate}}
          </a>
        </div>
      </div>
      <div class="wrap_intro_img">
        <img src="../../assets/img/product_img_new.png" width="100%">
      </div>
    </div>
  </div>
</section>
<section class="brand-section">
  <div class="container">
    <div class="row">
      <app-listbrand></app-listbrand>
    </div>
  </div>
</section>
<section class="bussiness-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 bussiness-intro">
        <h2>{{'got_it_for_business' | translate }}</h2>
        <p>{{'got_it_for_business_text' | translate}}</p>
        <div class="img_bg_mobile">
            <img src="../../assets/img/bg_business_chart3x.png">
        </div>
        <a target="_blank" href="https://biz.gotit.vn" >{{'explore_now' | translate}}</a>
      </div>
      
    </div>
  </div>
  <div class="wrap_img">
    <img src="../../assets/img/bg_business_chart3x.png" style="max-width:none">
  </div>
</section>
<section class="accordion-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box_top tabbable-line">
            <h2 class="pull-left">{{'announcement' | translate}}</h2>
           <!--  <div id="tab_all_faq" class=" pull-right dropdown-mobile wrapper-dropdown" tabindex="1" (click)="toggleClick($event)" [class.active]="faqDropdownClicked">
                <span>Sort by<small>Notice and Announcements</small></span>
                <ul class="nav nav-tabs pull-right">
                    <li class="active">
                      <a href="#tab_accord_1" data-toggle="tab" aria-expanded="false" (click)="elementClicked($event)">
                      Notice and Announcements </a>
                    </li>
                    <li>
                      <a href="#tab_accord_2" data-toggle="tab" aria-expanded="true" (click)="elementClicked($event)">
                      Frequantly Asked Questions </a>
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="box_content">
          <div class="row">
            <div class="col-md-12">
              <ng-container *ngIf="listDataAnnouncements">
                <div class="box-item" style="margin-bottom: 20px;" *ngFor="let item of listDataAnnouncements">
                  <ng-container *ngIf="translate.currentLang == 'vi'">
                    <h4>{{item.date}} - {{item.category}} - {{item.title_vi}}</h4>
                    <p>{{item.content_vi}}</p>
                  </ng-container>
                  <ng-container *ngIf="translate.currentLang != 'vi'">
                    <h4>{{item.date}} - {{item.category}} - {{item.title_en}}</h4>
                    <p>{{item.content_en}}</p>
                  </ng-container>
                </div>
              </ng-container>
            </div>
            
            <!-- <div class="tab-content">
              <div class="tab-pane active" id="tab_accord_1">
              	<accordion>
              		<div class="col-md-6">
              			<accordion-group heading="Compare prices find the best computer accessory?">
    				          <p>You may be a skillful, effective employer but if you don’t trust your personnel and the opposite, then the chances of improving and expanding the business you deal with, are extremely limited. It’s not critical for the employees to like the boss, but they have to trust him or her. If not, he won’t be able to lead them and the workers will have little motivation at work.</p>
                      <p>Truth and trust are connected together. You could be honest for years but one lie can destroy the trust you have built all this time.</p>
    				        </accordion-group>
    				        <accordion-group heading="Male Menopause The Alternative Anti Aging Approach">
    				            Male Menopause The Alternative Anti Aging Approach
    				        </accordion-group>
    				        <accordion-group heading="An ugly myspace profile will sure ruin your reputation?">
    				            An ugly myspace profile will sure ruin your reputation?
    				        </accordion-group>
                    <accordion-group heading="Choosing the best audio player software for your computer?">
                      Choosing the best audio player software for your computer?
                    </accordion-group>
              		</div>
    			        <div class="col-md-6">
    			        	<accordion-group heading="Thousands now adware removal who never thought they…?">
    				            Thousands now adware removal who never thought they…?
    				        </accordion-group>
    				        <accordion-group heading="Choosing the best audio player software for your computer?">
    				          Choosing the best audio player software for your computer?
    				        </accordion-group>
    				        <accordion-group heading="Thousands now adware removal who never thought they…?">
    				            Thousands now adware removal who never thought they…?
    				        </accordion-group>
    				        <accordion-group heading="Choosing the best audio player software for your computer?">
    				          Choosing the best audio player software for your computer?
    				        </accordion-group>
    			        </div>
    			        
    			       </accordion>
                
              </div>
              <div class="tab-pane" id="tab_accord_2">
                <accordion>
                    <div class="col-md-6">
                        <accordion-group heading="Compare prices find the best computer accessory2?">
                            <p>2You may be a skillful, effective employer but if you don’t trust your personnel and the opposite, then the chances of improving and expanding the business you deal with, are extremely limited. It’s not critical for the employees to like the boss, but they have to trust him or her. If not, he won’t be able to lead them and the workers will have little motivation at work.</p>
                              <p>Truth and trust are connected together. You could be honest for years but one lie can destroy the trust you have built all this time.</p>
                        </accordion-group>
                        <accordion-group heading="Male Menopause The Alternative Anti Aging Approach2">
                            2Male Menopause The Alternative Anti Aging Approach
                        </accordion-group>
                        <accordion-group heading="An ugly myspace profile will sure ruin your reputation2?">
                            2An ugly myspace profile will sure ruin your reputation?
                        </accordion-group>
                        <accordion-group heading="Choosing the best audio player software for your computer2?">
                          2Choosing the best audio player software for your computer?
                        </accordion-group>
                    </div>
                    <div class="col-md-6">
                        <accordion-group heading="Thousands now adware removal who never thought they2…?">
                            2Thousands now adware removal who never thought they…?
                        </accordion-group>
                        <accordion-group heading="Choosing the best audio player software for your computer2?">
                          2Choosing the best audio player software for your computer?
                        </accordion-group>
                        <accordion-group heading="Thousands now adware removal who never thought they2…?">
                            2Thousands now adware removal who never thought they…?
                        </accordion-group>
                        <accordion-group heading="Choosing the best audio player software for your computer2?">
                          2Choosing the best audio player software for your computer?
                        </accordion-group>
                    </div>
                </accordion>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- regular accordion -->
    
</section>
